body {
}

.frame{
   
}

#mainContainer {
    height: 650px;
    /*background-color: pink;*/
 display:block;  
}

#navigation{
    height:100%;
  /*  background-color: lightblue;*/
    width: 20%;
 float:left;

}

#links {
    height:100%;
    text-align: center;
  display:block;
  margin-top: 50%;
}

#contentContainer {
    height: 100%;
    background-color: lightyellow;
    width: 79%;
    display:inline-block;
    overflow-y:scroll;
    flex:1;
    behavior:
}


.cvContent{
    background-color:white;
    height: 98%;
    width: 100%;
    margin-bottom:5px;
    margin-top: 5px;
}

.navigationLinks {
    color: black;
    display: block;
    height:15%;
   }

